:root{
--main-text-color: #212121;
--accent-color: #2196F3;
--rare-text-color: #FFFFFF;
--bg-color: #FFFFFF;
--hf-bg-color: #2F303A;
--rare-bg-color:#F5F4FA;
--light-text-color: #757575;
--footer-link-color: rgba(255, 255, 255, 0.6);
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    max-width: -1px;
}

body { 
    color: var(--main-text-color);
    font-family: Roboto, sans-serif;
    background-color: var(--bg-color);
    font-size: 14px;
}

.btn {
    cursor: pointer;
}

/*----------------------------------*/

.logo {
    color: #000000;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.logo-accent {
    color: var(--accent-color);
}

.logo-item {
    color: var(--main-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.logo-item:hover {
    color: var(--accent-color);
}

.logo-item:focus {
    color: var(--accent-color);
}

.logo-link {
    color: var(--light-text-color);
    font-weight: 500;
    line-height: 1.14px;
    letter-spacing: 0.02em;
}

.logo-link:hover {
    color: var(--accent-color);
}

.logo-link:focus {
    color: var(--accent-color);
}

.current {
    color: var(--accent-color);
}

/*----------------------------------*/

.section-subject {
    background-color: var(--hf-bg-color);
}

.caption {
    color: var(--rare-text-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.caption-button {
    background-color: var(--accent-color);
    color: var(--rare-text-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}

.adv-item {
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.adv-text {
    color: var(--light-text-color);
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;   
}

.team {
    background-color: var(--rare-bg-color);
}

.team-member {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

.team-position {
    color: var(--light-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

/*----------------------------------*/

.menu-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    background-color: var(--rare-bg-color);
}

.menu-button:hover {
    background-color: var(--accent-color);
    color: var(--rare-text-color);
}

.menu-button:focus {
    background-color: var(--accent-color);
    color: var(--rare-text-color);
}

.menu-h {
    color: var(--main-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.menu-p {
    color: var(--light-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
}



















/*----------------------------------*/

.footer {
    background-color: var(--hf-bg-color);
}

.footer-logo {
    color: var(--rare-text-color);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.address {
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.03em;
    font-style: inherit;
}

.address-gps {
    color: var(--rare-text-color);
    
}

.address-link {
    color: var(--footer-link-color);
}

.address-gps:hover {
    color: var(--accent-color);
}

.address-gps:focus {
    color: var(--accent-color);
}

.address-link:hover {
    color: var(--accent-color);
}

.address-link:focus {
    color: var(--accent-color);
}